h1{
	text-align: left;
	text-decoration: underline;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 50px;
	word-spacing: 2px;
	color: #e74c3c;
	text-shadow: 3px 3px #f1c40f;
}

p{
	font-size: 30px;
	text-align: center;
	text-decoration: overline;
	text-transform: capitalize;
	letter-spacing: 2px;
	line-height: 60px;
	word-spacing: 2px;
	color: #27ae60;
	text-shadow: 2px 2px #8e44ad;
}

h3{
	font-size: 100px;
	text-align: right;
	text-decoration: line-through;
	text-transform: lowercase;
	letter-spacing: 3px;
	line-height: 100px;
	word-spacing: 2px;
	color: #ff5252;
	text-shadow: 5px 5px #40407a;
}